/* FOOTER */

.container-fluid {
  footer {
    div {
      font-size: 1.5rem;
      span {
        color: white;
        a {
          color: white;
          font-weight: bold;
          font-style: oblique;
        }
      }
    }
    ul {
      li {
        a {
          color: white;
        }
      }
    }
  }
}
